@import "tailwindcss";



.active-movie-icon {
    @apply scale-110;
}

.loading-animation {
    animation: loading 1s linear infinite;
}


@keyframes loading {
    from {
        transform: rotateZ(0deg)
    } to {
        transform: rotateZ(360deg);
    }
}