@import "tailwindcss";

.loader {
    background-image: conic-gradient(#6cdff6 90deg, white 90deg);
    animation: loading 1s linear infinite;
}


@keyframes loading {
    from {
        transform: rotateZ(0deg)
    } to {
        transform: rotateZ(360deg);
    }
}